body { font-size: 1em; font-family: Verdana, Helvetica, Arial, sans-serif; width:90%;margin:0 auto;}
aside { width:25%; float:left; display:block; overflow: hidden;}
header #sitelogo { float:left; padding:5px;text-decoration:none;}
header #sitetitle {margin:0;border:none;font-weight:normal} /* need this to get rid of pmwiki standard */
header #sitetitle a {text-decoration:none;}
header #sitetag {margin:0;font-size: 150%;font-style: italic;}
header {border-bottom: 3px solid #999;}
header #headerimage img {width:100%;}
article {display:block; width: 70%; float:right;} /* make room for the sidebar */
article #location {display:block;margin:0 0 8px 0;font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 120%;}
footer {clear:both;margin-top:20px;border-top: 3px solid #999;}
.clearboth {clear:both;}
h1 {font-size: 150%;border-top: 1px solid #999;border-bottom: 1px solid #999;margin-top: 3px; margin-bottom: 3px;}
h2 {font-size: 130%;border-bottom: 1px solid #999;}
h3 {font-size: 100%;}
dt {font-weight:bold;}
a:hover {font-style:italic;}
#pageactions {
	/*float: right;*/
	margin-top: 0;
	padding-right: 0;
	text-align: right;
	width: 100%;
	font-size: 75%;
}
#pageactions ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#pageactions li {
	display: inline;
	margin: 0px 3px;
}

/* these are for the navigation trails at the top of each entry, used in Site.LocalTemplates#parenttrail */
.navtrailleft {
    float:right;
    /* background image and colour set in color.php */
    max-width:30%;
}
.navtrailmiddle {
    text-align:center;
    max-width:30%;
}
.navtrailright {
    float:right;
    /* background image and colour set in color.php */
    max-width:30%;
}

.siteheadleft {
    float:left;
    width:25%;
    min-width:25%;
    max-width:25%;
}
.siteheadright {
    float:right;
    width:70%;
    min-width:70%;
    max-width:70%;


}


/* These are for the edit form. */
#wikiedit form { margin:0px; width:100%; }
#wikiedit textarea { width:100%; }
.wikimessage { margin-top:4px; margin-bottom:4px; font-style:italic; }

/*--- Local Styles --*/

.tags { display: inline; }
.trail {text-align: center; font-size: 75%;font-family: Verdana, Helvetica, Arial, sans-serif; font-style: italic;display:block; }
.categories {text-align: right; font-size: 75%;font-family: Verdana, Helvetica, Arial, sans-serif; font-style: italic; display:block; margin-left:2px;float:right;border:1px solid #999;}

.listtag {padding-left:1px;padding-right:1px;}
.sidehead {margin-left:0;margin-bottom:0;margin-top:3px;text-transform:uppercase;font-size: 110%;font-family: Futura, "Arial Black", Arial, sans-serif;border-bottom: 1px solid #999;}
.summary {font-size: 80%;font-style: italic;}
.notebox {
	display:block;
	border: 1px solid #093;
	width: 50%;
	margin: 20px auto;
	padding: 2px 2px 2px 20px;
	background-image: url('images/sign_tick.png');
	background-position: center left;
	background-repeat: no-repeat;
}
.note {font-style:italic;}
.important {
	display:block;
	border: 1px solid #960;
	width: 50%;
	margin: 20px auto;
	padding: 2px 2px 2px 20px;
	background-image: url('images/sign_explain.png');
	background-position: center left;
	background-repeat: no-repeat;
	
}
.audience {
	display: block;
	float: right;
	border: 1px solid #999;

	font-size:90%;
	width: 20%;
	padding: 5px;
	margin: 5px;
}
.audience ul {
	margin-left:10px;
	margin-right:0px;
	margin-top:0px;
	morgin-bottom:0px;
	padding:0px;
}
.audience ul li {
	margin:0px;
	padding:0px;
}
.webdings {font-family:webdings}
